.pok-card {
    background-color: white;
    border-radius: 1em;
    width: 240px;
    height: 350px;
    margin:15px;
    display: flex;
    flex-direction: column;
}   
.head-card{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
    
    
