.home {
    display: flex;
    flex-direction: column;
    width: 80vw;
    background-color: rgb(233, 233, 225);
    align-items: center;
    border-radius: 2em;
    opacity: 0.8;
    margin: 15px;
}