.nav-bar {
    width: 30%;
    & > ul{
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-content: space-around;
        
        > li{
            
            list-style: none;
            text-decoration: none;
            > a {
                text-decoration: none;
                font-size: 20px;
            }
            a:visited {
                color:black;
                
            }
            a:hover {
                background-color: rgb(218, 47, 47);
            }
        }

    }

}